@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";



.font-ubuntu {
    font-family: "Ubuntu Sans", sans-serif;
}

/* This shrinks the physical sidebar container */
.excalidraw .sidebar {
  width: 220px !important;
  max-width: 220px !important;
}

/* This ensures the sidebar doesn't overlap the drawing tools on small screens */
.excalidraw .sidebar-content {
  padding: 12px !important;
}
